/*body {
    margin: 20px;
}*/

canvas {
    /*top: 20px;*/
    top: 0px;
    /*left: 20px;*/
    left: 100px;
    width: 640px;
    height: 480px;
    border: 1px solid #ccc;
    margin: 0px 0px 10px 0px;
}

#button {
    position: relative;
    clear: both;
}

#button img {
    vertical-align: middle;
}


/*#save {

}
#clear {

}*/

#colorlist {
    position: absolute;
    top: 500px;
    left: 100px;
    width: 520px;
}

ul {
    margin: 10 0 0 0;
    padding: 0;
    list-style: none;
}

li {
    cursor: pointer;
    cursor: hand;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 15px;
    height: 15px;
}

#colorpick {
    width: 220px;
    color: #123456;
}

#color {
    width: 70px;
    height: 40px;
    border: 1px solid #000000;
}

.ofclic {
    border: 1px #FFFFFF solid
}

.clic {
    border: 1px #000000 solid
}

#brush1,
#brush2,
#brush3,
#brush4,
#miter,
#eraser {
    cursor: pointer;
    cursor: hand;
}

label {
    cursor: pointer;
    cursor: hand;
}

#bwbox {
    margin: 20px 0px 20px 0px;
    font-size: 13px;
}

#bw,
#alpha {
    display: inline-block;
    width: 30px;
    height: 17px;
    border: 1px solid #BBBBBB;
}

#slider,
#slider2 {
    margin: -18px 0px 0px 110px;
    width: 380px;
}


/*TODO:凹むボタンの仕組み*/

.donate-now {
    width: 84px;
    list-style-type: none;
    /*margin: 5px 0 0 0;*/
    padding: 0;
}

.donate-now li {
    float: left;
    /*margin: 0 5px 0 0;*/
    width: 40px;
    height: 40px;
    position: relative;
}

.donate-now label,
.donate-now input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.donate-now input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
}

.donate-now input[type="radio"]:checked + label,
.Checked + label {
    background: yellow;
}

.donate-now label {
    padding: 5px;
    border: 1px solid #CCC;
    cursor: pointer;
    z-index: 90;
}

.donate-now label:hover {
    background: #DDD;
}